@model IEnumerable<UnitedGameDevelopment.Models.ViewModels.JobApplications.JobApplicationVm>
<table class="table row-seperator">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Published</th>
            <th>Salary Per Hour</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model)
        {
            <tr>
                <th scope="row">@job.Id</th>
                <td>@Html.ActionLink(@job.Title, "Details", "JobApplications", new { id = @job.Id }, null)</td>
                <td>@job.PublishDate</td>
                <td>@job.SalaryPerHour</td>
            </tr>
        }
    </tbody>
</table>