@model IEnumerable<UnitedGameDevelopment.Models.ViewModels.Projects.ProjectVm>
    
@if (@Model.Any())
{
    <div class="container row-seperator">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Published</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model)
                {
                    <tr>
                        <th scope="row">@project.Id</th>
                        <td>@Html.ActionLink(@project.Title, "Details", "Project", new { area = "", id = project.Id }, null)</td>
                        <td>@project.PublishDate</td>
                        <td>@Html.ActionLink("Edit Project", "Edit", "Project", new { area = "", id = project.Id }, new { @class = "btn btn-primary" })</td>
                        <td>@Html.ActionLink("Delete", "Delete", "Project", new { area = "", id = project.Id}, new { @class = "btn btn-danger" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h2 class="text-center row-seperator" style="margin-bottom: 200px">No projects created yet.</h2>
}